header img{
      width: 100px;
}
.box{
    width: 400px;
    background: burlywood;
    margin: auto;
}
body{
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* adding background images */
    background-image: IMG-20250909-WA0020.jpg;
}
