/* let's remove default browser space to ensures padding and border do not affect width */
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* styling the bases */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2,h3 {
    margin-bottom: 1rem;
}

p {
    margin-top: 16px;
    font-size: 14px;
}

/* changing the layout of the center container and adjusting the limits */
.container {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

/* now let us adjust the header and the mobile layout */
.site-header {
    background: #222;
}

.site-header .container {
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    display: flex; 
}

/* Let us place the logo */
.logo img {
    width: 60px;
}

/* removing the bullets lists */
.main-nav ul {
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/* adding the links to the navigations */
.main-nav a {
    color: #c78c06;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

/* first nav link hilighted */
.main-nav li:first-child a {
    background: #c78c06;
    color: #222;
    padding: 8px;
}

/* styling the search bar */
.search form {
    position: relative;
    width: 200px;
}

/* field */
.search input {
    width: 100%;
    padding: 8px 40px 10px;
    border: 2px solid #c78c06;
    outline: none;
    font-size: 14px;
}

/* adjusting button insde the input */
.search button {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #c78c06;
    background: #222;
    height: 37px;
    width: 40px;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
}

/* Let us now style the banner */
.Hero {
    background: url("../images/main-banner.jpg") no-repeat center/cover;
    color: white;
    padding: 80px 50px;
}

/* putting an overlay to better the readibility */
.Hero-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: auto-;
    max-width: 70%;
}

