/* let's remove default browser space to ensures padding and border do not affect width */
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* styling the bases */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2,h3 {
    margin-bottom: 1rem;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

/* changing the layout of the center container and adjusting the limits */
.container {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

/* now let us adjust the header and the mobile layout */
.site-header {
    background: #222;
}

.site-header .container {
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    display: flex; 
}

/* Let us place the logo */
.logo img {
    width: 25px;
}

/* removing the bullets lists */
.main-nav ul {
    align-items: center;
    justify-content: space-between;
    list-style: none;
    display: flex;
}

/* adding the links to the navigations */
.main-nav a {
    color: #c78c06;
    text-decoration: none;
    padding: 15px 20px;
}

/* first nav link hilighted */
.main-nav li:first-child a {
    background: #c78c06;
    color: #222;
    padding: 8px;
}

/* styling the search bar */
.search form {
    display: flex;
    align-items: center;
}

.search input {
    padding: 8px;
    border: 2px solid #c78c06;
    border-right: none;
    outline: none;
    width: 150px;
}

.search button {
    background: #222;
    color: #c78c06;
    border: 2px solid #c78c06;
    padding: 8px 12px;
    cursor: pointer;
}

/* Let us now style the banner */
.hero {
    background: url("../images/main-banner.jpg") no-repeat center/cover;
    color: white;
    padding: 80px 50px;
}

/* putting an overlay to better the readibility */
.hero-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: auto;
    max-width: 900px;
}

/* making the main button standingout */
.button {
    display: inline-block;
    background: #c78c06;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    margin-top: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* let us style the about section */
.about {
    background: #ffe6ac;
    padding: 2rem;
}

.about-image img {
    width: 100%;
}

.about-text {
   
    flex: 1;
}

.about-flex {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.about-text h2 {
     margin-top: 0;
}

.about-image {
    order: -1;
}

/* services section */
.service-card {
    background: #ffe6ac;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

/* styles the services card */
.service-card {
    background: #ffe6ac;
}
/* first 2 big cards */
.service-card:nth-child(1),
.service-card:nth-child(2) {
    grid-column: span 3;
}

.service-card:nth-child(3),
.service-card:nth-child(4),
.service-card:nth-child(5) {
    grid-column: span 2;
}
.service-card h3,
.service-card p {
    padding: 10px;
}
.services img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* adjusting the vision section */
.vision {
    background: url("../images/vision.jpg") no-repeat center/cover;
    color: white;
    padding: 80px 20px;
    position: relative;
}

/* making the content appears above overlay */
.vision .container {
    position: relative;
}

.vision a {
    background: transparent;
    color: white;
    border: 1px solid #c78c06;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/* let us style the team section */
.team-member {
    display: flex;
    background: #ffe6ac;
    margin-bottom: 1rem;
}

.team-member img {
    width: 50%;
    object-fit: cover;
}

.team-member div {
    width: 50%;
    padding: 20px;
}

/* alternate layout */
.team-member:nth-child(even) {
    flex-direction: row-reverse;
}

/* let us style the contact section */
.contact-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form,
.map {
    flex: 1;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

/* styling the input forms */
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* styling the table */
table {
    width: 100%;
    border-collapse: collapse;
}
.hours table thead {
    background: #ffe6ac;
}

.hours h2 {
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #222;
    padding: 12px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

/* styling footer */
.site-footer {
    background: #222;
    color: #c78c06;
    text-align: left;
    padding: 1rem;
}

/* desktop layout */
@media (min-width:760px) {
    .site-header .container {
        flex-direction: row;
        align-items: center;
    }

    .main-nav {
        margin: 0 auto;
    }

    .main-nav ul {
        display: flex;
        gap: 20px;
    }
    
    .search {
        margin-left: auto;
    }

    .about .container {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .about-image, .about-text {
        flex: 1;
    }
    .team-member {
        display: flex;
        margin-bottom: 0;
    }

    .team-member img {
        width: 50%;
    }

     .team-member div {
      width: 50%;
    }

    .contact-content {
        flex-direction: row;
    }


}